.advantages {
  position: relative;
	text-align: center;
  background-color: @gray;
}

.advantages::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 44px;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  margin-left: auto;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.advantages__text {
	margin-top: 45px;
	margin-bottom: 45px;
	font-size: 24px;
	line-height: auto;
	font-weight: 300;
}

.advantages__list {
	.list;
	text-align: center;
}

.advantages__list-container {
  padding-top: 64px;
}

.advantages__title {
	margin-bottom: 25px;
	font-weight: 700;
	color: @black;
}

.advantages__description {
  margin: 0;
}

.advantages__item:nth-child(3) {
  padding-bottom: 323px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 147%;
  @media (min-resolution: @retina-dpi),
          (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-tablet@2x.png");
    background-size: 536px auto;
    }
}

@media (min-width: @tablet-width) {
  .advantages__container {
    font-size: 40px;
    line-height: 48px;
    background-color: @gray;
  }

  .advantages::after {
    height: 94px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .advantages__list-container {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    @media (min-resolution: @retina-dpi),
          (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
    background-size: 536px auto;
    }
  }

  .advantages__list {
    text-align: left;
    width: 320px;
    margin-left: 300px;
  }

  .advantages__item:nth-child(3) {
  padding-bottom: 45px;
  background-image: none;

  }
}

@media (min-width: @desktop-width) {
  .advantages__container {
    font-size: 50px;
  }

  .advantages::after {
    height: 115px;
    z-index:0;
  }

  .advantages__list-container {
    background-image: none;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: inherit;
    text-align: center;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__item {
    padding-top: 340px;
    width: 222px;
  }

  .advantages__item:first-child {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 38% 21%;
    @media (min-resolution: @retina-dpi),
          (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-1-desktop@2x.png");
    background-size: 536px auto;
    }

  }

  .advantages__item:nth-child(2) {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 38% 21%;
    @media (min-resolution: @retina-dpi),
          (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
    background-size: 584px auto;
    }
  }

  .advantages__item:nth-child(3) {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 38% 21%;
    @media (min-resolution: @retina-dpi),
          (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-3-desktop@2x.png");
    background-size: 536px auto;
    }
  }
}
