.contacts {
  padding-top: 41px;
  background-color: @white;
  text-align: center;
}

.contacts__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.contacts__text {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
}

.contacts__data {
  margin: 0;
  color: @red;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.contacts__wrapper-data {
  padding-top: 31px;
}

.contacts__wrapper-text {
  margin: 0;
  margin-bottom: 16px;
}

.contacts__wrapper-text:nth-child(2) {
  margin-bottom: 20px;
}

.contacts__map {
  min-height: 200px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat 50% 96%;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper-data {
    .flex;
    padding-left: 47px;
    padding-right: 29px;
    padding-top: 26px;
  }

  .contacts__wrapper-text {
    margin-bottom: 0;
  }

  .contacts__wrapper-text:nth-child(2){
    margin-left: auto;
    margin-bottom: 0;
  }

  .contacts__wrapper-text:nth-child(3){
    width: 225px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__wrapper-text:nth-child(3) .contacts__text {
    padding-top: 41px;
    padding-bottom: 5px;
  }

  .contacts__title {
    padding: 0 113px;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
  }

  .contacts__text {
    line-height: 30px;
    margin-bottom: 0;
  }

  .contacts {
    padding-top: 47px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 60px;
  }

  .contacts__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 53px
  }

  .contacts__wrapper-data {
    justify-content: space-between;
    padding-top: 0;
  }

  .contacts__wrapper-text:first-child {
    order: 1;
  }
  .contacts__wrapper-text:nth-child(2) {
    order: 3;
  }
  .contacts__wrapper-text:nth-child(3) {
    order: 2;
    margin-left: 101px;
  }

  .contacts__wrapper-text:nth-child(3) .contacts__text {
    padding-top: 0;
  }

  .contacts__text {
    margin-bottom: 17px;
  }
}
