.effect {
  display: none;
  background-color: @white;
}

.effect__title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: @black;
}

.effect__link {
  color: @red;
  text-decoration: underline;
}

.effect__position-wrapper {
  margin-left: 310px;
  text-align: left;
  padding: 90px 0;
}

@media (min-width: @tablet-width) {
  .effect {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .effect {
    display: block;
  }
}
