  .filters__list {
  .list;
  }

  .filters {
    background-color: @white;
    font-size: 18px;
    line-height: 30px;
  }

  .filters__fieldset {
    border: none;
  }

  .filters__legend {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: @red;
    text-transform: uppercase;
    padding: 0 34px;
    margin-bottom: -21px;
  }

  .filters__legend--to-hide{
    display: none;
  }

  .filters__fieldset--user-data {
    padding-top: 0;
    margin-bottom: 23px;
  }

  .filters__fieldset--user-data p {
    margin-bottom: 19px;
  }

  .filters__fieldset--user-data .input__field {
    width: 280px;
  }

  .filters__fieldset--user-data .input__label {
    margin-left: 22px;
  }

  .filters__fieldset--achievement {
    background-color: @gray;
    margin-bottom: 19px;
    padding-top: 46px;
    padding-bottom: 0;
    width: 100%;
  }

  .filters__span {
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-right: 32px;
    width: 240px;
    background-color: @gray;
    margin-top: -10px;
    margin-bottom: 45px;
  }

  .filters__fieldset--user-contacts {
    padding-top: 18px;
    margin-bottom: 27px;
  }

  .filters__fieldset--app {
    background-color: @gray;
    width: 100%;
    padding-top: 49px;
    padding-bottom: 5px;
    margin-bottom: 39px;
  }

  .filters__fieldset--app .filters__span {
    margin-bottom: 40px;
  }

  .filters__list--radio {
    margin-left: -18px;
  }

  .filters__fieldset--emotions {
    padding-bottom: 14px;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .filters__send-form {
    margin-bottom: 44px;
  }

  .filters__button {
    padding: 19px 10px;
  }

  .filters__send-form--to-hide {
    display: none;
  }

  .filters__button {
    width: 279px;
    padding: 16px 10px;
    color: @white;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 700;
    background-color: @green;
    border-radius: 5px;

    &:hover,
    &:focus {
      background-color: @green-hover;
      }

      &:active {
        color: @green-pale;
      }

      &:disabled {
        color: @white;
        background-color: @gray;
      }
  }

  .filters__footnote {
    margin: 0;
    margin-top: 31px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  .filter__sup {
    color: @red;
  }

@media (min-width: @tablet-width) {

  .filters__form {
  .flex;
  }

  .filters__fieldset .container {
    border: 2px solid @table-border;
    width: 620px;
    padding: 0;
    padding-bottom: 17px;
  }

  .filters__fieldset--user-data {
    padding-top: 0px;
    margin-bottom: 19px;
    border: none;
    order: 1;
  }

  .filters__fieldset--user-data p {
    margin-bottom: 47px;
  }

  .filters__fieldset--user-data p:last-child {
    margin-bottom: 10px;
  }

  .filters__fieldset--user-data .input__field {
    width: 523px;
  }

  .filters__span {
    width: 323px;
    background-color: @white;
    padding-left: 21px;
    margin-bottom: 48px;
  }

  .filters__fieldset--app {
    padding-top: 32px;
    padding-bottom: 4px;
    margin-bottom: 53px;
    order: 2;
    background-color: @white;
    padding-left: 0;
    padding-right: 0;
  }

  .filters__container-3 {
    order: 3;
  }

  .filters__container-5 {
    order: 5;
  }

  .filters__container-6 {
    order: 6;
  }

  .filters__list--radio {
    margin-left: 44px;
  }

  .filters__fieldset--app .filters__span {
    margin-bottom: 48px;
  }

  .filters__legend--to-hide {
    display: block;
    margin-bottom: 29px;
  }

  .input--upside .input__field {
    width: 500px;
  }

  .filters__to-hide {
    display: none;
  }


  .filters__fieldset--user-contacts {
    border: 2px solid @table-border;
  }

  .filters__fieldset--user-contacts {
    margin-bottom: 19px;
    margin-top: 0;
    padding-top: 7px;
    padding-bottom: 0;
    order: 3;
  }

  .filters__fieldset--achievement {
    order: 4;
    background-color: @white;
    padding-top: 41px;
    margin-bottom: 53px;
  }

  .filters__fieldset--achievement .filters__span {
    width: 360px;
    padding: 0 15px;
  }

  .filters__fieldset--achievement .container {
    padding-bottom: 0px;
  }

  .filters__list--achievement {
    padding: 0;
    margin-left: 61px;
  }

  .filters__fieldset--emotions {
    margin-bottom: 39px;
    order: 5;
    padding: 0;
    padding-bottom: 43px;
    border: 2px solid @table-border;
  }

  .filters__fieldset--emotions legend {
    margin-bottom: 39px;
  }

  .filters__send-form {
    justify-content: center;
  }

  .filters__button {
    margin-bottom: 29px;
  }

  .filters__footnote {
    margin-bottom: -26px;
  }


}


@media (min-width: @desktop-width) {
  .filters__fieldset--user-data {
    width: 450px;
    border: none;
    margin-bottom: 50px;
    padding-top: 17px;
  }

  .filters__fieldset--user-data p {
    margin-bottom: 55px;
  }

  .filters__fieldset--user-data p:last-child {
    margin-bottom: 0px;
  }

  .filters__list--radio {
    margin-left: 60px;
  }

  .filters__fieldset--user-contacts {
    padding-bottom: 7px;
    padding-top: 32px;
    margin-top: -12px;
    margin-bottom: 53px;
  }


  .filters__list--achievement {
    .flex;
    padding: 0 60px;
    justify-content: space-between;
  }



  .filters__send-form {
    .flex;
    order: 6;
    justify-content: space-between;
    align-items: center;
  }

  .filters__fieldset--app {
    width: 433px;
    margin-left: 53px;
    padding-bottom: 18px;
  }

  .filters__fieldset--user-contacts .input__label {
      margin-left: 16px;
    }

  .filters__user-container {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
  }

  .filters__fieldset--emotions {
    padding: 0px 60px;
    padding-bottom: 37px;
    padding-top: 6px;
    margin-top: -10px;

  }

  .filters__send-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: -35px;
  }

  .filters__app-text {
    display: none;
  }
}
