.filters__list {
  .list;
  &--achievement {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 44px;
  }
  &--radio {
    padding-right: 20px;
    padding-top: 41px;
    padding-left: 30px;
  }
}

.filters {
  background-color: @white;
  font-size: 18px;
  line-height: 30px;
}

.filters__fieldset {
  border: none;
  &--user-data {
    padding-top: 0;
    margin-bottom: 37px;
  }
  &--achievement {
    background-color: @gray;
    margin-bottom: 12px;
    padding: 0;
    padding-top: 38px;
    width: 100%;
  }
  &--user-contacts {
    padding: 0;
    padding-top: 18px;
    margin-bottom: 27px;
  }
  &--app {
    background-color: @gray;
    padding: 0;
    padding-top: 36px;
    padding-bottom: 5px;
    margin-bottom: 39px;
  }
  &--emotions {
    padding: 0;
    padding-bottom: 14px;
    padding-top: 10px;
    margin-bottom: 30px;
  }
}

.filters__legend {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: @red;
  text-transform: uppercase;
  padding: 0 34px;
  &--emotions {
    margin-bottom: -25px;
  }
  &--to-hide{
    display: none;
  }
}

.filters__span {
  display: block;
}

.filters__send-form {
  margin-bottom: 44px;
  &--to-hide {
    display: none;
  }
}

.filters__button {
  width: 279px;
  padding: 16px 10px;
  color: @white;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  background-color: @green;
  border-radius: 5px;
  &:hover,
  &:focus {
    background-color: @green-hover;
  }

  &:active {
    color: @green-pale;
  }

  &:disabled {
    color: @white;
    background-color: @gray;
  }
}

.filters__footnote {
  margin: 0;
  margin-top: 31px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.filter__sup {
  color: @red;
}

@media (min-width: @tablet-width) {
  .filters {
    .flex;
  }

  .filters__fieldset {
    &--user-data {
      padding-top: 0px;
      margin-bottom: 20px;
      border: none;
      order: 1;
    }
    &--app {
      padding-top: 32px;
      padding-bottom: 4px;
      margin-bottom: 53px;
      background-color: @white;
      padding-left: 0;
      padding-right: 0;
    }
    &--achievement {
      order: 4;
      background-color: @white;
      padding-top: 45px;
      margin-bottom: 53px;
    }
    &--user-contacts {
      border: 2px solid @table-border;
      padding: 0 54px;
      margin-bottom: 19px;
      margin-top: 0;
      padding-top: 7px;
      padding-bottom: 0;
      order: 3;
    }
    &--emotions {
      margin-bottom: 65px;
      order: 5;
      padding: 0 57px;
      padding-bottom: 43px;
      border: 2px solid @table-border;
    }
  }

  .filters__container-for-color {
    border: 2px solid @table-border;
    width: 620px;
    padding: 0;
    padding-bottom: 22px;
  }

  .filters__fieldset--achievement .filters__container-for-color {
    padding-bottom: 0px;
  }

  .filters__span {
    margin-bottom: 48px;
    width: 335px;
    margin: 0 auto;
    background-color: @white;
  }

  .filters__wrapper-app {
    order: 2;
    margin: 0 auto;
  }

  .filters__container-3 {
    order: 3;
  }

  .filters__container-5 {
    order: 5;
  }

  .filters__container-6 {
    order: 6;
  }

  .filters__list {
    &--radio {
      margin-left: 25px;
      padding-top: 49px;
    }
  }

  .filters__fieldset--app .filters__span {
    margin-top: -11px;
  }

  .filters__legend--to-hide {
    display: block;
    margin-bottom: 29px;
  }

  .filters__to-hide {
    display: none;
  }

  .filters__fieldset--achievement .filters__span {
    margin-top: -11px;
    width: 360px;
  }

  .filters__list {
    &--achievement {
      padding: 30px;
      padding-left: 62px;
      padding-top: 50px;
      padding-bottom: 0;
    }
  }

  .filters__fieldset--emotions .filters__legend  {
    margin-bottom: 8px;
  }

  .filters__send-form {
    .flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 47px;
  }

  .filters__button {
    margin-bottom: 29px;
    width: 300px;
  }

  .filters__footnote {
    margin-bottom: 20px;
    margin-top: -7px;
  }
}

@media (min-width: @desktop-width) {
  .filters {
    width: 960px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .filters__list {
    &--radio {
      padding-left: 57px;
      margin-left: 0;
    }
    &--achievement {
      .flex;
      padding: 0 60px;
      justify-content: space-between;
      margin-left: 0;
      padding-top: 47px;
    }
  }

  .filters__fieldset--user-contacts {
    padding-bottom: 7px;
    padding: 0 52px;
    padding-top: 4px;
    margin-bottom: 53px;
  }

  .filters__button {
     margin-bottom: 0;
   }

  .filters__send-form {
    .flex;
    order: 6;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    &--to-hide {
      display: inline-block;
    }
  }

  .filters__fieldset {
    &--app {
      padding-bottom: 18px;
      padding-top: 3px;
      margin-bottom: 0;
    }
    &--emotions {
      padding: 0px 60px;
      padding-bottom: 30px;
      padding-top: 6px;
      margin-top: -10px;
      margin-bottom: 69px;
    }
    &--user-data {
      width: 443px;
      margin: 0;
      padding: 0;
      padding-top: 14px;
      margin-bottom: 20px;
      padding-left: 10px;
    }
    &--achievement {
      padding: 0;
      padding-top: 12px;
      margin-bottom: 72px;
    }
  }

  .filters__fieldset--app .filters__span {
    padding: 0 16px;
  }

  .filters__user-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 820px;
  }

  .filters__footnote {
    margin: 0;
  }

  .filters__app-text {
    display: none;
  }

  .filters__fieldset--app .filters__container-for-color {
    width: 431px;
    margin: 0;
    padding-bottom: 23px;
  }

  .filters__wrapper-app {
    margin: 0;
    margin-left: 70px;
    margin-bottom: 40px;
    padding-top: 10px;
  }

  .filters__fieldset--achievement .filters__container-for-color {
    width: 940px;
  }

  .filters__list {
    &--achievement {
      margin-left: 0;
      padding-top: 47px;
      display: flex;
    }
  }

  .filters__item {
    &--shark {
      order: 1;
    }
    &--norris {
      order: 2;
    }
    &--tower {
      order: 3;
    }
    &--beach {
      order: 4;
    }
    &--souvenirs {
      order: 5;
    }
    &--hotel {
      order: 6;
    }
  }

  .filters__fieldset--emotions .filters__legend {
    margin-bottom: -3px;
  }

  .page-footer__wrapper {
    padding-top: 56px;
    padding-bottom: 70px;
  }
}
