.filters {
	background-color: @white;
	font-size: 18px;
	line-height: 30px;
}

.filters__text {
	margin: 0;
	color: @red;
	line-height: 18px;
}

.filters__form {
  .flex;
}

.filters__label {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.filters__app-text {
  display: none;
}

.filters__fildset {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  width: 940px;
  margin-bottom: 65px;
  border: 2px solid @table-border;
}

.filters__fildset:first-child {
  padding-top: 10px;
  margin-bottom: 0;
}

.filters__text-user-data {
  margin-bottom: 25px;
}

.filters__input {
	padding: 20px 20px;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 25px;
	width: 340px;
	box-sizing: border-box;
  border: 2px solid @table-border;
}

.filters__input:hover,
.filters__input:focus {
  border: 2px solid @black;
}

.filters__input:active {
  border: 2px solid @red;
  outline: none;
}

.filters__input--long {
  width: 380px;
}

.filters__legend {
	text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 20px;
}

.filters__item {
  margin: 0 auto;
	margin-bottom: 45px;
  margin-left: 77px;

}

.filters__item--radio {
  margin: 0;
  margin-bottom: 60px;
  width: 200px;
}

.filters__label--radio {
  position: relative;
}

.filters__label--radio::before {
  position: absolute;
  content: "";
  top: -7px;
  left: -80px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid @table-border;
  background-color: @white;
}

.filters__input--radio[type="radio"]:checked ~ .filters__label--radio::before {
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 3;
}

.filters__input--radio[type="radio"]:hover ~ .filters__label--radio::before,
.filters__input--radio[type="radio"]:focus ~ .filters__label--radio::before {
 border: 2px solid @black;
}

.filters__input--radio[type="radio"]:active ~ .filters__label--radio::before {
  border: 2px solid @red;
}


.filters__label--checkbox {
  position: relative;
}

.filters__label--checkbox::before {
  position: absolute;
  content: "";
  top: -7px;
  left: -58px;
  width: 40px;
  height: 40px;
  border: 2px solid @table-border;
  z-index: 3;
}

.filters__input--checkbox[type="checkbox"]:checked ~ .filters__label--checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 3;
}

.filters__input--checkbox[type="checkbox"]:hover ~ .filters__label--checkbox::before,
.filters__input--checkbox[type="checkbox"]:focus ~ .filters__label--checkbox::before {
 border: 2px solid @black;
}

.filters__input--checkbox[type="checkbox"]:active ~ .filters__label--checkbox::before {
  border: 2px solid @red;
}


.filters__textarea {
	font-size: 18px;
	line-height: 30px;
	width: 100%;
	min-height: 200px;
	box-sizing: border-box;
  padding: 20px;
}

.filters__footnote {
	margin: 0;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}

.filters__list {
  .list;
}

.filters__list--radio {
  margin-left: 136px;
}

.filters__label--radio {
}

.filters__list--achievement {
  .flex;
  padding: 0 60px;
}

.filter__sup {
	color: @red;
}

.filters__send-form {
  .flex;
  justify-content: space-between;
  align-items: center;
}

.filters__user-data {
  width: 427px;
  border: none;
}

.filters__input--long {
  width: 382px;
}

.filters__app {
  width: 435px;
  margin-left: 26px;
}

.filters__user-container {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.filters__input-up {
  width: 375px;
  position: relative;
}

.filters__input-up::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  z-index: 2;
  background-color: @gray;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.filters__input-up--letter::after {
  background-image: url("../img/icon-mail.svg");
}

.filters__upside {
  .flex;
  flex-direction: row;
  width: 375px;
}

.filters__label-down {
  margin-bottom: 23px;
}

.filters__emotions {
  padding: 0px 60px;
  padding-bottom: 45px;
}

.filters__send-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: @desktop-width) {
  .filters__list--achievement {
    display: block;
  }

  .filters__item {
    width: 100%;
  }

  .filters__user-container {
    display: block;
    padding: 0 60px;
  }

  .filters__input-up {
    width: 100%;
  }

  .filters__upside {
    width: 100%;
  }

  .filters__app {
    width: 100%;
    margin-left: 0;
  }

  .filters__user-data {
    width: 100%;
  }

  .filters__input {
    width: 530px;
  }
  .filters__input-up {
    width: 500px;
  }

  .filters__input--long {
    width: 567px;
  }
}

@media (max-width: @tablet-width) {
  .filters__form {
    display: flex;
  }

  .filters__fildset {
    border: none;
  }

  .filters__user-container {
    width: 280px;
    padding: 0;
  }

  .filters__to-hide {
    display: none;
  }

  .filters__achievement {
    background-color: @gray;
    margin: 0 -20px;
    padding-left: 30px;
  }

  .filters__app {
    background-color: @gray;
    margin: 0 -20px;
    padding-left: 30px;
  }

  .filters__list--achievement {
    padding: 0;
  }

  .filters__send-form {
    justify-content: center;
  }

  .filters__emotions {
    padding: 0;
  }

  .filters__input-up {
    order: 2;
  }
  .filters__label-down {
    order: 1;
  }

  .filters__input {
    width: 100%;
  }

  .filters__text-user-data {
    margin-bottom: 0;
  }

  .filters__label {
    margin-left: 20px;
    margin-bottom: 23px;
  }

  .filters__user-data {
    width: 280px;
    order: 1;
  }

  .filters__achievement {
    order: 2;
  }

  .filters__user-contacts {
    order: 3;
  }
  .filters__app {
    order: 4;
  }

  .filters__emotions {
    order: 5;
  }

  .filters__send-form {
    order: 6;
  }

  .filters__legend-to-hide {
    display: none;
  }

  .filters__app-text {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0 20px;
    color: @red;
    margin-bottom: 30px;
  }
}
