.form-main {
  background-color: @white;
}



.form-main__story {
	padding-top: 92px;
	padding-bottom: 27px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-main__story--to-hide {
  display: none;
}

.form-main__text {
	margin: 0;
	line-height: 30px;
  padding: 0 5px;
}

@media (min-width: @tablet-width) {
  .form-main__story {
    width: 523px;
    text-align: center;
    margin-bottom: 49px;
  }

  .form-main__text {
    font-size: 18px;
  }

  .form-main__story--to-hide {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .form-main__story {
    width: 940px;
  }

  .form-main__text {
    width: 760px;
    margin: 0 auto;
  }


}
