.input {
  width: 100%;
  margin: 0 auto;
}

.input__label {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  color: @red;
  margin-right: 19px;
  margin-bottom: 6px;
}

.input__field {
  width: 100%;
  padding: 14px 20px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  border: 2px solid @table-border;
}

.input__field:hover,
.input:focus {
  border: 2px solid @black;
}

.input__field:active {
  border: 2px solid @red;
  outline: none;
}

.input__textarea {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  min-height: 126px;
  box-sizing: border-box;
  padding: 17px;
  border: 2px solid @table-border;
}

.input--user-contacts {
  .flex;
  margin-bottom: 17px;
}

.input--user-contacts .input__field {
  order: 2;
}

.input--user-contacts .input__label {
  order: 1;
  margin-left: 23px;
}

.input--user-contacts::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 58px;
  top: 2px;
  right: 2px;
  z-index: 2;
  background-color: @table-border;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.input--letter::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 58px;
  top: 2px;
  right: 2px;
  z-index: 2;
  background-color: @table-border;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.input--user-contacts::after {
  display: none;
}
.input--letter::after {
  display: none;
}

.input__textarea {
  min-height: 200px;
  width: 100%;
}

.input--user-data .input__label {
  margin-left: 22px;
}


.input--user-data {
  .flex;
  align-items: center;
  margin-bottom: 14px;
}

.input--user-data .input__field {
  flex-grow: 1;
}

.input--emotions {
  margin-top: 15px;
}

@media (min-width: @tablet-width) {
.input--user-contacts {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  position: relative;
}

.input__label {
  margin-left: 20px;
  margin-bottom: 23px;
}

.input--user-data .input__label {
  margin-left: 0;
  margin-right: 24px;
  margin-top: 20px;
}

.input--user-contacts .input__label {
  margin-left: 19px;
}

.input--user-contacts .input__field {
  margin-bottom: 13px;
  flex-grow: 1;
}

.input--user-contacts .input__field {
  order: 1;
  margin-bottom: 13px;
}

.input--user-contacts .input__label {
  order: 2;
}

.input--letter {
  position: relative;
}

.input--tel::after {
  display: block;
}

.input--letter::after {
  display: block;
}

.input__textarea {
  min-height: 195px;
  padding-top: 13px;
  }

  .input--user-data {
    flex-wrap: nowrap;
    margin-bottom: 44px;
  }

  .input--user-data:last-child {
    margin-bottom: 5px;
  }

}

@media (min-width: @desktop-width) {
  .input {
    margin: 0;
}

.input--user-data {
  margin-bottom: 55px;
}

.input--user-data:last-child {
  margin-bottom: 0px;
}

.input--tel {
  position: relative;
}

.input--letter {
  position: relative;
  margin-left: 70px;
}


.input--user-contacts {
  position: relative;
}

.input--user-contacts .input__field {
  padding-right: 60px;
  margin-bottom: 15px;
  }

 .input--user-contacts .input__label {
    margin-left: 20px;
    margin-bottom: 11px;
  }

  .input--user-data .input__label {
    margin-right: 22px;
  }

  .input__textarea {
    min-height: 128px;
  }

  .input--user-data {
    margin-bottom: 44px;
  }
}








