.modal-fail {
  display: none;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: @white;
  text-align: center;
}

.modal-fail__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
  color: @black;
}

.modal-fail__text {
  margin-bottom: 35px;
}

.modal-fail__button {
  width: 320px;
  padding: 20px 0;
  color: @white;
  line-height: 30px;
  font-weight: 700;
  background-color: @green;
  border-radius: 5px;
}
