.page-header {
	background-color: @dark-blue;
  min-height: 730px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 54% 100%, center -218px;
  background-size: 40%, cover;
}

.page-header--iphone {

}

.page-header__logo svg {
  width: 80px;
  height: 30px;
}

.page-header__logo-white-tablet {
  display: none;
}

.page-header__logo-white-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__logo svg {
    display: block;
    width: 150px;
    height: auto;
  }

  .page-header {
  background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-position: 49% 199%, center 0px;
  background-size: 55%, cover;
  @media (min-resolution: @retina-dpi),
          (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-tablet@2x.png"),
                      url("../img/bg-back-tablet@2x.jpg");
    background-size: 1400px auto, 2400px auto;
    }
  }

  .page-header__logo-white-tablet {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    display: flex;
    align-items: center;
  }

  .page-header__logo {
    margin-right: 140px;
  }

  .page-header {
  position: relative;
  background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 67% 100%, center 0px;
  background-size: 54%, cover;
  }
}
