.page-footer {
	padding-top: 10px;
	padding-bottom: 35px;
	background-color: @white;
  &--none {
    display: none;
  }
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__copyright-container {
  .flex;
  align-items: center;
  justify-content: center;
	font-size: 18px;
	line-height: 18px;
  margin: 0 auto;
}

.page-footer__logo {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-bottom: 28px;
  &:hover,
  &:focus path {
    fill: @red;
  }
}

.page-footer__htmlacademy {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: 12px;
}

.page-footer__social {
  margin-bottom: 28px;
}

.page-footer__copyright {
  margin-right: 13px;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    &--none {
      display: block;
    }
    .flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
    margin-bottom: 6px;
  }

  .page-footer__copyright-container {
    margin: 0;
  }

  .page-footer--form .social__list {
    margin-top: 4px;
  }

  .page-footer {
    &--none {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding-top: 90px;
    padding-bottom: 70px;
    &--photo {
      padding-top: 53px;
    }
    &--index {
      padding-top: 53px;
    }
  }

  .page-footer__copyright {
    font-size: 18px;
  }

  .page-footer__wrapper--photo .social__list {
    margin-left: 25px;
  }
}
