.page-header {
	background-color: @dark-blue;
}

.page-header__logo {
  display: inline-block;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    display: flex;
    align-items: center;
  }

  .page-header__logo {
    margin-right: 140px;
  }

  .page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    background-color: @menu-back;
  }
}
