.photo-main {
  background-color: @dark-blue;
}

.photo-main__title {
  display: block;
	margin: 0;
	padding: 0 30px;
	padding-top: 35px;
	text-align: center;
	color: @white;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

.photo-main__image {
  margin: 0;
}

@media (min-width: @tablet-width) {
 .photo-main__article-wrapper {
    padding-bottom: 0;
  }

  .photo-main__title {
    font-size: 50px;
    line-height: 60px;
    padding-top: 80px;
    padding-bottom: 140px;
  }
}

@media (min-width: @desktop-width) {
  .photo-main__title {
    font-size: 50px;
    line-height: 60px;
    padding-top: 80px;
    padding-bottom: 140px;
  }
}
