
.promo {
  background-color: @darkest-blue;
  padding-bottom: 35px;
  padding-top: 25px;
  text-align: center;
}

.promo__title {
  margin: 0;
  padding: 0 40px;
  padding-top: 95px;
  text-align: center;
  color: @white;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  display: none;
}

.promo__download {
  margin-top: 400px;
  padding-bottom: 35px;
  padding-top: 25px;
  width: 100%;
  text-align: center;
}

.promo__link {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px 0;
  width: 275px;
  font-size: 18px;
  font-weight: 700;
  color: @white;
  background-color: @darkest-blue;
  border: 3px solid @white;
  border-radius: 48px;
  box-sizing: border-box;
}

.promo__list {
  .list;
  .flex;
  justify-content: center;
  margin-bottom: 25px;
}

.promo__list-link {
  .link;
  font-size: 0;
  width: 70px;
  height: 70px;

  &--apple {
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &--android {
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.promo__text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: @white;
  font-weight: 300;
  margin: 0;
  padding: 0 40px;
}

@media (min-width: @tablet-width) {

  .promo__link {
    background: transparent;
  }

  .promo__wrapper {
    diplay: flex;
    flex-direction: column;
  }

  .promo__title {
    display: block;
    width: 215px;
  }

  .promo__download {
    position: static;
    background-color: transparent ;
  }

  .promo {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .promo {
  position: relative;
  }

  .promo__title {
    font-size: 50px;
    margin-top: 115px;
    margin-right: 30px;
  }
}
