.rates {
	background-color: @gray;
  padding-bottom: 70px;
  position: relative;
  padding-top: 40px;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 44px;
    top: 0px;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    margin-left: auto;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
  }
}

.rates__wrapper {
  padding-top: 65px;
  overflow: hidden;
}

.rates__table {
	width: 100%;
  border-color: @table-border;
  border-spacing: 0;
  border-collapse: collapse;
  transform: translateX(-196px);
}

.rates__value {
  padding: 18px 35px;
	background-color: @dark-blue;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
  color: @white;
  text-transform: uppercase;
  border: 2px solid @table-border;
  &--hit {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 74px;
      height: 74px;
      top: 0px;
      left: 0px;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
    }
    &::after {
      position: absolute;
      content: "хит";
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      font-family: "Open Sans";
      text-transform: uppercase;
      color: @white;
      width: 30px;
      height: 20px;
      top: 5px;
      left: 0px;
      z-index: 3;
      transform: rotate(-45deg);
    }
  }
}

.rates__value:first-child {
  opacity: 0;
  border: none;
}

.rates__field-container {
  display: flex;
  justify-content: space-between;
  width: 185px;
}

.rates__check-mark {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/icon-yes.svg") no-repeat 100% 50%;
  vertical-align: middle;
}

.rates__cross {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  background: url("../img/icon-no.svg") no-repeat 50% 50%;
  vertical-align: middle;
}

.rates__price {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;

}

.rates__field {
	line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: @white;
  width: 155px;
  padding: 8px 30px;
  padding-right: 20px;
  border: 2px solid @table-border;
  white-space: nowrap;
}

.rates__field:first-child {
  text-align: left;
  padding-left: 18px;
}

.rates__first-column {
  display: none;
}

.rates__toggles {
	margin: 0;
	padding-bottom: 45px;
}

.rates__field-to-hide {
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .rates {
    padding-top: 43px;
    &::after {
      height: 100px;
    }
  }

  .rates__field-container {
    justify-content: center;
    width: 101px;
  }

  .rates__field{
    text-transform: none;
    padding: 2px 22px;
  }

  .rates__wrapper {
    overflow: visible;
    margin: 0 auto;
    width: 620px;
  }

  .rates__first-column {
    display:  table-cell;
    width: 150px;
  }

  .rates__field-to-hide {
    display: none;
  }

  .rates__table {
    text-align: center;
    transform: none;
  }

  .rates__toggles {
    display: none;
  }

  .rates__price {
    font-size: 18px;
  }

  .rates__value {
    padding: 10px 30px;
    &--hit::before {
     background-image: url("../img/bg-hit-tablet.svg");
    }
  }
}

@media (min-width: @desktop-width) {
  .rates__wrapper {
    width: 940px;
  }

  .rates {
    &::after {
    height: 115px;
    }
  }

  .rates__field {
    font-size: 14px;
  }

  .rates__price {
    font-size: 24px;
  }
}
