.reviews {
	text-align: center;
  background-color: @white;
  position: relative;
  padding-bottom: 40px;
}

.reviews::before {
  display: none;
  position: absolute;
  content: "";
  width: 79px;
  height: 64px;
  top: 53px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  background-image: url("../img/icon-quotes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.reviews__list {
	.list;
	padding-top: 41px;
  margin-bottom: 21px;
}

.reviews__title {
	margin: 0;
	margin-bottom: 11px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.reviews__age {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.reviews-description {
	line-height: 30px;
}

.reviews__prev {
  display: none;
  position: absolute;
  top: 173px;
  left: -110px;
  width: 45px;
  height: 45px;
	font-size: 0;
  border: none;
  cursor: pointer;
}

.reviews__next {
  display: none;
  position: absolute;
  top: 173px;
  right: -110px;
  width: 45px;
  height: 45px;
  font-size: 0;
  border: none;
  cursor: pointer;
}

.reviews__next {
	font-size: 0;
}

.reviews__toggles {
	margin: 0;
	padding-bottom: 40px;
}

.reviews__label {
  position: relative;
}

.reviews__label::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  background-color: @toggle;
  border: none;
  padding: 0;
  margin-right: 5px;
  z-index: 2;
  top: 10px;
  left: 2px;
}


@media (min-width: @tablet-width) {
  .reviews__position-container {
    display: flex;
    flex-direction: column;
  }

  .reviews-description {
    order: 1;
    font-size: 18px;
    margin-bottom: 33px;
    margin-top: 15px;
  }

  .reviews__age {
    order: 3;
    display: block;
    margin-bottom: 14px;
  }

  .reviews__title {
    order: 3;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .reviews__list {
    padding-top: 19px;
    margin-bottom: 5px;
  }
  .reviews {
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews__prev {
    display: block;
  }

  .reviews__next {
    display: block;
  }

  .reviews::before {
    display: block;
  }

  .reviews {
      padding-top: 120px;
  }
}
