.slider__item {
  display: none;
}
.slider {
  position: relative;
}

.slider__item:nth-child(1) {
  display: block;
}

.slider__toggle {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  background-color: @gray-border;
  border: none;
  padding: 0;
  margin-right: 5px;
}

.slider__toggle--active {
  border: 4px solid @darkest-blue;
  background-color: @white;

}

.slider__arrow:hover path,
.slider__arrow:focus path {
  fill: @dark-gray;
}

@media (min-width: @desktop-width) {
  .slider__toggle {
  display: none;
  }
}
