.social__list {
	.list;
  .flex;
  width: 200px;
  margin: 0 auto;
}

.social__item {
	font-size: 0;
}

.social__item:first-child {
  margin-left: 11px;
}

.social__item:nth-child(2) {
  margin-left: 9px;
}

.social__item:nth-child(3) {
  margin-left: 13px;
}

.social__htmlacademy {
	font-size: 0;
}

.social__twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 3px solid @gray;
  border-radius: 50%;
}

.social__facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 3px solid @gray;
  border-radius: 50%;
}

.social__youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 3px solid @gray;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 221px;
  }

  .social__item:first-child {
    margin-left: 12px;
  }

  .social__item:nth-child(3) {
    margin-left: 12px;
  }
}
