.user-list__item {
	background-color: @gray;
	margin-bottom: 20px;
}

.user-list__author-name {
	font-weight: 700;
}

.user-list__author-time {
	margin-left: 5px;
	font-size: 12px;
	line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-list__text {
	margin-bottom: 20px;
}

.user-list__likes {
	font-size: 12px;
	text-transform: uppercase;
	color: @red;
}

.user-list__likes-counter {
	font-size: 12px;
	text-transform: uppercase;
	color: @red;
}

.user-list__author-image {
	background-size: cover;
}

.user-list__content-container {
  padding: 23px 0;
}

.user-list__button {
  border: none;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: @gray;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}

.filters__button {
  width: 320px;
  padding: 20px 0;
  color: @white;
  line-height: 30px;
  font-weight: 700;
  background-color: @green;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: @green-hover;
    }

    &:active {
      color: @green-pale;
    }

    &:disabled {
      color: @white;
      background-color: @gray;
    }
}

@media (min-width: @tablet-width) {
  .user-list {
    .flex;
    justify-content: space-between;
  }

  .user-list__item {
    width: 300px;
  }

  .user-list__content-container {
  padding: 25px 28px;
  }

  .user-list__article {
    padding-top: 0;
  }

  .user-list__content-container {
    margin-bottom: 20px;
  }

}

@media (min-width: @desktop-width) {
  .user-list__likes-wrapper {
    right: 20px;
  }
}
