.user-photos {
  background-color: @white;
}

.user-photos__list-wrapper {
  background-color: @white;
}

.user-photos__text {
  margin: 0;
  padding-top: 46px;
  padding-bottom: 47px;
  text-align: center;
  line-height: 30px;
}

.user-photos__post-all {
  padding-top: 20px;
  padding-bottom: 44px;
}

.user-photos__post-text {
  margin: 0;
  text-align: center;
  line-height: 30px;
}

.user-photos__list {
  .list;
}

@media (min-width: @tablet-width) {
  .user-photos__text-wrapper {
    width: 620px;
  }

  .user-photos__text {
    width: 533px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    padding-top: 93px;
    padding-bottom: 75px;
  }

  .user-photos__post-all {
    font-size: 18px;
    line-height: 30px;
    padding-top: 46px;
    padding-bottom: 67px;
  }
}

@media (min-width: @desktop-width) {
  .user-photos__text-wrapper {
    width: 940px;
  }

  .user-photos__text {
    width: 549px;
    margin: 0 auto;
    padding: 90px 0;
  }

  .user-photos__post-all {
    padding-top: 3px;
    padding-bottom: 66px;
  }
}
